<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.10.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53c559d3b0112622b8f61fed241086b:219664ec82fb6bc87c6f34a7d5fed520:63a75690be8a36f57d919d920d6ed2f7$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>ChristmasPaperTown.1@2x.png</string>
                <key>size</key>
                <string>{853,443}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>town@2x@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{649,446}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{643,441}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>santa@2x@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{5,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{437,225}</string>
                        <key>textureRect</key>
                        <string>{{646,1},{206,424}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>snowflake@2x@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{11,11}</string>
                        <key>textureRect</key>
                        <string>{{646,427},{11,11}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>ChristmasPaperTown.1.png</string>
                <key>size</key>
                <string>{430,223}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>town@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{325,223}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{323,221}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>santa@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{219,113}</string>
                        <key>textureRect</key>
                        <string>{{326,1},{103,212}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>snowflake@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{6,6}</string>
                        <key>textureRect</key>
                        <string>{{326,215},{6,6}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
